wsdl/BiblioService.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="BiblioService" targetNamespace="http://service.biblio.lle.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.biblio.lle.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
<types>
<xsd:schema>
<xsd:import schemaLocation="http://localhost:8080/biblio/api/BiblioService?xsd=1" namespace="http://service.biblio.lle.org/"/>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"/>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"/>
</message>
<message name="getPosition">
<part name="parameters" element="tns:getPosition"/>
</message>
<message name="getPositionResponse">
<part name="parameters" element="tns:getPositionResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getListReservation">
<part name="parameters" element="tns:getListReservation"/>
</message>
<message name="getListReservationResponse">
<part name="parameters" element="tns:getListReservationResponse"/>
</message>
<message name="listBooking">
<part name="parameters" element="tns:listBooking"/>
</message>
<message name="listBookingResponse">
<part name="parameters" element="tns:listBookingResponse"/>
</message>
<message name="getLivreTitre">
<part name="parameters" element="tns:getLivreTitre"/>
</message>
<message name="getLivreTitreResponse">
<part name="parameters" element="tns:getLivreTitreResponse"/>
</message>
<message name="getExemplaire">
<part name="parameters" element="tns:getExemplaire"/>
</message>
<message name="getExemplaireResponse">
<part name="parameters" element="tns:getExemplaireResponse"/>
</message>
<message name="getAuteur">
<part name="parameters" element="tns:getAuteur"/>
</message>
<message name="getAuteurResponse">
<part name="parameters" element="tns:getAuteurResponse"/>
</message>
<message name="getNbreLocation">
<part name="parameters" element="tns:getNbreLocation"/>
</message>
<message name="getNbreLocationResponse">
<part name="parameters" element="tns:getNbreLocationResponse"/>
</message>
<message name="delBooked">
<part name="parameters" element="tns:delBooked"/>
</message>
<message name="delBookedResponse">
<part name="parameters" element="tns:delBookedResponse"/>
</message>
<message name="getExpiredate">
<part name="parameters" element="tns:getExpiredate"/>
</message>
<message name="getExpiredateResponse">
<part name="parameters" element="tns:getExpiredateResponse"/>
</message>
<message name="getUtilisateur">
<part name="parameters" element="tns:getUtilisateur"/>
</message>
<message name="getUtilisateurResponse">
<part name="parameters" element="tns:getUtilisateurResponse"/>
</message>
<message name="DoListLivre">
<part name="parameters" element="tns:DoListLivre"/>
</message>
<message name="DoListLivreResponse">
<part name="parameters" element="tns:DoListLivreResponse"/>
</message>
<message name="NotFoundException">
<part name="fault" element="tns:NotFoundException"/>
</message>
<message name="addBooked">
<part name="parameters" element="tns:addBooked"/>
</message>
<message name="addBookedResponse">
<part name="parameters" element="tns:addBookedResponse"/>
</message>
<message name="delLoc">
<part name="parameters" element="tns:delLoc"/>
</message>
<message name="delLocResponse">
<part name="parameters" element="tns:delLocResponse"/>
</message>
<message name="userPosition">
<part name="parameters" element="tns:userPosition"/>
</message>
<message name="userPositionResponse">
<part name="parameters" element="tns:userPositionResponse"/>
</message>
<message name="addProlo">
<part name="parameters" element="tns:addProlo"/>
</message>
<message name="addProloResponse">
<part name="parameters" element="tns:addProloResponse"/>
</message>
<message name="addNotif">
<part name="parameters" element="tns:addNotif"/>
</message>
<message name="addNotifResponse">
<part name="parameters" element="tns:addNotifResponse"/>
</message>
<message name="DoResultLivre">
<part name="parameters" element="tns:DoResultLivre"/>
</message>
<message name="DoResultLivreResponse">
<part name="parameters" element="tns:DoResultLivreResponse"/>
</message>
<message name="delRecall">
<part name="parameters" element="tns:delRecall"/>
</message>
<message name="delRecallResponse">
<part name="parameters" element="tns:delRecallResponse"/>
</message>
<message name="addRecall">
<part name="parameters" element="tns:addRecall"/>
</message>
<message name="addRecallResponse">
<part name="parameters" element="tns:addRecallResponse"/>
</message>
<message name="getRecall">
<part name="parameters" element="tns:getRecall"/>
</message>
<message name="getRecallResponse">
<part name="parameters" element="tns:getRecallResponse"/>
</message>
<message name="listRecall">
<part name="parameters" element="tns:listRecall"/>
</message>
<message name="listRecallResponse">
<part name="parameters" element="tns:listRecallResponse"/>
</message>
<message name="getLivrelocation">
<part name="parameters" element="tns:getLivrelocation"/>
</message>
<message name="getLivrelocationResponse">
<part name="parameters" element="tns:getLivrelocationResponse"/>
</message>
<message name="DoLogin">
<part name="parameters" element="tns:DoLogin"/>
</message>
<message name="DoLoginResponse">
<part name="parameters" element="tns:DoLoginResponse"/>
</message>
<message name="addLocation">
<part name="parameters" element="tns:addLocation"/>
</message>
<message name="addLocationResponse">
<part name="parameters" element="tns:addLocationResponse"/>
</message>
<message name="listLocation">
<part name="parameters" element="tns:listLocation"/>
</message>
<message name="listLocationResponse">
<part name="parameters" element="tns:listLocationResponse"/>
</message>
<message name="getListLocation">
<part name="parameters" element="tns:getListLocation"/>
</message>
<message name="getListLocationResponse">
<part name="parameters" element="tns:getListLocationResponse"/>
</message>
<message name="getLivre">
<part name="parameters" element="tns:getLivre"/>
</message>
<message name="getLivreResponse">
<part name="parameters" element="tns:getLivreResponse"/>
</message>
<portType name="BiblioService">
<operation name="getLocation">
<input message="tns:getLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationRequest"/>
<output message="tns:getLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLocationResponse"/>
</operation>
<operation name="getPosition">
<input message="tns:getPosition" wsam:Action="http://service.biblio.lle.org/BiblioService/getPositionRequest"/>
<output message="tns:getPositionResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getPositionResponse"/>
</operation>
<operation name="getUser">
<input message="tns:getUser" wsam:Action="http://service.biblio.lle.org/BiblioService/getUserRequest"/>
<output message="tns:getUserResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getUserResponse"/>
</operation>
<operation name="getListReservation">
<input message="tns:getListReservation" wsam:Action="http://service.biblio.lle.org/BiblioService/getListReservationRequest"/>
<output message="tns:getListReservationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getListReservationResponse"/>
</operation>
<operation name="listBooking">
<input message="tns:listBooking" wsam:Action="http://service.biblio.lle.org/BiblioService/listBookingRequest"/>
<output message="tns:listBookingResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/listBookingResponse"/>
</operation>
<operation name="getLivreTitre">
<input message="tns:getLivreTitre" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreTitreRequest"/>
<output message="tns:getLivreTitreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreTitreResponse"/>
</operation>
<operation name="getExemplaire">
<input message="tns:getExemplaire" wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireRequest"/>
<output message="tns:getExemplaireResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getExemplaireResponse"/>
</operation>
<operation name="getAuteur">
<input message="tns:getAuteur" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurRequest"/>
<output message="tns:getAuteurResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getAuteurResponse"/>
</operation>
<operation name="getNbreLocation">
<input message="tns:getNbreLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getNbreLocationRequest"/>
<output message="tns:getNbreLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getNbreLocationResponse"/>
</operation>
<operation name="delBooked">
<input message="tns:delBooked" wsam:Action="http://service.biblio.lle.org/BiblioService/delBookedRequest"/>
<output message="tns:delBookedResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/delBookedResponse"/>
</operation>
<operation name="getExpiredate">
<input message="tns:getExpiredate" wsam:Action="http://service.biblio.lle.org/BiblioService/getExpiredateRequest"/>
<output message="tns:getExpiredateResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getExpiredateResponse"/>
</operation>
<operation name="getUtilisateur">
<input message="tns:getUtilisateur" wsam:Action="http://service.biblio.lle.org/BiblioService/getUtilisateurRequest"/>
<output message="tns:getUtilisateurResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getUtilisateurResponse"/>
</operation>
<operation name="DoListLivre">
<input message="tns:DoListLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreRequest"/>
<output message="tns:DoListLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoListLivre/Fault/NotFoundException"/>
</operation>
<operation name="addBooked">
<input message="tns:addBooked" wsam:Action="http://service.biblio.lle.org/BiblioService/addBookedRequest"/>
<output message="tns:addBookedResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addBookedResponse"/>
</operation>
<operation name="delLoc">
<input message="tns:delLoc" wsam:Action="http://service.biblio.lle.org/BiblioService/delLocRequest"/>
<output message="tns:delLocResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/delLocResponse"/>
</operation>
<operation name="userPosition">
<input message="tns:userPosition" wsam:Action="http://service.biblio.lle.org/BiblioService/userPositionRequest"/>
<output message="tns:userPositionResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/userPositionResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/userPosition/Fault/NotFoundException"/>
</operation>
<operation name="addProlo">
<input message="tns:addProlo" wsam:Action="http://service.biblio.lle.org/BiblioService/addProloRequest"/>
<output message="tns:addProloResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addProloResponse"/>
</operation>
<operation name="addNotif">
<input message="tns:addNotif" wsam:Action="http://service.biblio.lle.org/BiblioService/addNotifRequest"/>
<output message="tns:addNotifResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addNotifResponse"/>
</operation>
<operation name="DoResultLivre">
<input message="tns:DoResultLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreRequest"/>
<output message="tns:DoResultLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivreResponse"/>
<fault name="NotFoundException" message="tns:NotFoundException" wsam:Action="http://service.biblio.lle.org/BiblioService/DoResultLivre/Fault/NotFoundException"/>
</operation>
<operation name="delRecall">
<input message="tns:delRecall" wsam:Action="http://service.biblio.lle.org/BiblioService/delRecallRequest"/>
<output message="tns:delRecallResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/delRecallResponse"/>
</operation>
<operation name="addRecall">
<input message="tns:addRecall" wsam:Action="http://service.biblio.lle.org/BiblioService/addRecallRequest"/>
<output message="tns:addRecallResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addRecallResponse"/>
</operation>
<operation name="getRecall">
<input message="tns:getRecall" wsam:Action="http://service.biblio.lle.org/BiblioService/getRecallRequest"/>
<output message="tns:getRecallResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getRecallResponse"/>
</operation>
<operation name="listRecall">
<input message="tns:listRecall" wsam:Action="http://service.biblio.lle.org/BiblioService/listRecallRequest"/>
<output message="tns:listRecallResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/listRecallResponse"/>
</operation>
<operation name="getLivrelocation">
<input message="tns:getLivrelocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationRequest"/>
<output message="tns:getLivrelocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivrelocationResponse"/>
</operation>
<operation name="DoLogin">
<input message="tns:DoLogin" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginRequest"/>
<output message="tns:DoLoginResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/DoLoginResponse"/>
</operation>
<operation name="addLocation">
<input message="tns:addLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationRequest"/>
<output message="tns:addLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/addLocationResponse"/>
</operation>
<operation name="listLocation">
<input message="tns:listLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/listLocationRequest"/>
<output message="tns:listLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/listLocationResponse"/>
</operation>
<operation name="getListLocation">
<input message="tns:getListLocation" wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationRequest"/>
<output message="tns:getListLocationResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getListLocationResponse"/>
</operation>
<operation name="getLivre">
<input message="tns:getLivre" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreRequest"/>
<output message="tns:getLivreResponse" wsam:Action="http://service.biblio.lle.org/BiblioService/getLivreResponse"/>
</operation>
</portType>
<binding name="BiblioServicePortBinding" type="tns:BiblioService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivreTitre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExemplaire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAuteur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNbreLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delBooked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getExpiredate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUtilisateur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoListLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="addBooked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delLoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userPosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="addProlo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNotif">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoResultLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotFoundException">
<soap:fault name="NotFoundException" use="literal"/>
</fault>
</operation>
<operation name="delRecall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRecall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listRecall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivrelocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DoLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLivre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BiblioService">
<port name="BiblioServicePort" binding="tns:BiblioServicePortBinding">
<soap:address location="http://localhost:8080/biblio/api/BiblioService"/>
</port>
</service>
</definitions>
